@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: dark;
	}

	html {
		@apply bg-[#1e1e1e] font-mono tracking-wider text-neutral-300;
	}

	h1 {
		@apply text-4xl tracking-wider text-white;
	}

	h2 {
		@apply text-lg tracking-wider;
	}

	a {
		@apply underline;
	}

	input::placeholder {
		@apply text-neutral-600;
	}
}
